body {
    margin: 0;
    font-family: muli, sans-serif;
    color: whitesmoke;
}

header {
    margin: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21c08b;
}

.header_icono {
    width: 175px;
    height: inherit;
    margin-left: 15px;
}

.login,
.register {
    background: linear-gradient( #21c08b, #ab88ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login_container,
.register_container {
    border: 2px solid white;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 60px 68px 40px;
    width: 300px;
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.register_container {
    display: flex;
    justify-content: space-around;
}

.login_container-form {
    display: flex;
    flex-direction: column;
}

.register_container-form {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.input {
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid white;
    padding: 0 10px;
    margin-bottom: 20px;
    height: 45px;
    outline: none;
    color: white;
}

::placeholder {
    color: white;
    font-family: muli;
    font-size: 16px;
}

.login_container label {
    font-size: 14px;
}

.login_container-rememberme {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login_container-rememberme a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.login_container-rememberme a:hover {
    text-decoration: underline;
}

.login_container-social-media>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login_container-social-media>div>img {
    margin-right: 10px;
}

.login_container-register {
    font-size: 14px;
}

.login_container-register a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login_container-register a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #ab88ff;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding-left: 20px;
}

.footer a:hover {
    text-decoration: underline;
}

.button {
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: muli, sans-serif;
    letter-spacing: 1px;
    height: 50px;
    margin: 10px 0;
    outline: none;
}

.register_container-title {
    font-family: muli, sans-serif;
    margin: 0;
}

.register_container a {
    align-self: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.register_container a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .login_container,
    .register_container {
        background: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
}